# Redis Cloud 연결 정보
REDIS_HOST=redis-17683.c340.ap-northeast-2-1.ec2.redns.redis-cloud.com
REDIS_PORT=17683
REDIS_USERNAME=default
REDIS_PASSWORD=
REDIS_TLS=false

# Socket.io 설정
NEXT_PUBLIC_SOCKET_URL=http://localhost:3000

# 개발 환경 설정
NODE_ENV=development
